@import "./base.css";

#app {
  /* max-width: 1280px; */
  margin: 0;
  /* padding: 2rem; */

  font-weight: normal;
}

.header-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
}

.body-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.subtitle-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #b9b9b9;
}

.caption-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 640px) {
  .header-1 {
    font-size: 32px;
  }

  .body-1 {
    font-size: 14px;
    line-height: 20px;
  }
}
